/* * BACKGROUND DEGRADADO */
body{
    background: #4568DC;
      background: -webkit-linear-gradient(to right,  #8fc1ec, #4968ce);
      background: linear-gradient(to right, #2c7fdf, #b0d0ff);
    font-family: "Montserrat", sans-serif;
  
}
/* * BACKGROUND DEGRADADO */

/* *NAVBAR */

.carrito{
  padding-right: 5px;
  padding-top: 5px;
  width: 40px;
  padding-left: 10px;
}
.desplegable{
  background-color: #297bf5;
}
.desplegableTexto{
  font-weight: bold;
}
.desplegableTexto:hover{ 
  background-color: #47CDFC;
}

/* *NAVBAR END */



/* * CARRUSEL START */

.carousel-inner{
  border-radius: 10px;
  box-shadow: 0px 0px 15px 0px rgb(0, 0, 0, 0.5);
  /* padding-top: 25%;
  padding-bottom: 25%; */
}

.tituloC{
  color: white;
  /* text-shadow: 0 0px 10px #000000, 0 0 5px #ffffff;
  font-weight: 700; */
  font-weight: 700;
  font-size: 35px;
            -webkit-text-stroke-width: 1.5px;
            -webkit-text-stroke-color: black;

  
}

.parrafitosC{
  color: white;
  /* text-shadow: 0 0px 10px #000000, 0 0 5px #ffffff;
  font-weight: 700; */
  font-weight: 600;
  font-size: 28px;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;
}
/* * CARRUSEL END */