/* !BODY obligatorio */
body{
  font-family: "Montserrat", sans-serif;
}
/* !BODY obligatorio */

/* body {
  background-image:url("/assets/imgs/backgrounds/conjunto-garabatos-primavera-blanco-negro-lindo-conjunto-elementos-pascua-imagenes-predisenadas-primavera_308665-455.jpg");
  background-position: center center;
  background-size: no-repeat;
  background-size:cover;
  background-color: rgba(255, 255, 255, 0.3);
  
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
} */

/* * BACKGROUND DEGRADADO */
body{
  background: #4568DC;
    background: -webkit-linear-gradient(to right,  #8fc1ec, #4968ce);
    background: linear-gradient(to right, #2c7fdf, #b0d0ff);

}
/* * BACKGROUND DEGRADADO */


/* *NAVBAR */

.carrito{
    padding-right: 5px;
    padding-top: 5px;
    width: 40px;
    padding-left: 10px;
  }
  .desplegable{
    background-color: #297bf5;
  }
  .desplegableTexto{
    font-weight: bold;
  }
  .desplegableTexto:hover{ 
    background-color: #47CDFC;
  }
  
  /* *NAVBAR END */


/* CARRUSEL */
.Carrusel{
box-shadow: 0px 10px 10px rgba(11, 24, 124, 0.5);
  border-radius: 10px;

  /* box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
  border-radius: 0;
  border: 0.5; */
}

.carousel-inner {
  border-radius: 10px;
  /* background-color: rgb(0, 123, 246); */
  overflow: hidden;
}
/* CARRUSEL */



/* * COLUMNA 1 Servicios START */


.servicios{
  
  background-color: white  !important;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  /* #F0F8FF */

 

}

.container.tipoServicio{
  padding-left: 25%;
  padding-right: 25%;
  text-decoration: none;
}

.serviciostxt{
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  
}

.clickServicio{
  text-decoration: none;
  color: #000000;
}

.serviciosLista:hover {
  transform: scale(1.1);
  
}

.serviciosLista{
  transition: transform 0.2s ease;
}

.lineaDivisoria{
  margin-left: 5% ;
  margin-right:5%  ;
  border-top: 10px solid black;
  border: solid 2px;
} 


.serviciosLista{
    margin-bottom: 10%;
    background-color: #ffffff;
    border-radius: 10px;
    width:100%;
    
    text-decoration: none;
    
    box-shadow: 0px 0px 5px 1px rgba(0, 55, 255, 0.5);
    
    font-weight:700   ;

  background-image:url(/assets/imgs/backgroundContactosCaja.jpg);
  
  background-size: no-repeat;
  background-size:cover;
}
/* *COLUMNA 1 Servicios  END */



/* *COLUMNA 2 Servicios  START */

.acheErre2{
  margin-left: 10% ;
  margin-right:10%  ;
} 

.horarioLaboral{
  margin-top: 10%;
  border-radius: 10px;
  
  background-color: #ffffff !important;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;

}

.serviciostxt2{
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  
}

.horariosLista{
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 100%;
  text-align: center;
  background-color: white;
  /* background-image:url(/assets/imgs/backgroundContactosCaja\ -\ copia.jpg);
  
   background-size: no-repeat;
   background-size:cover; */

  

  color: rgb(0, 0, 0);

  
  
}
/* *COLUMNA 2 Servicios END */

.contactoCaja{
 background-image:url(/assets/imgs/backgroundContactosCaja.jpg);
 background-position: center center;
  background-size: no-repeat;
  background-size:cover;
 border-radius: 5px;
 
 
} 

.mapaDoctor {

  padding-right:1%;
  padding-top: 4%;
  padding-bottom: 5%;

  
}

.contactosExtra{
  
    margin-top: 5%;


    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width:100%;
    text-align: center;

    
    
}

.watafak{
  border-top: 10px solid black;
  border: solid 2px;
}


hr.hrInferior {
  border-top: 1px solid black;
  border: solid 2px; 
  margin-left: 5%;
  margin-right: 5%
  
}

/* Iconos Reseña START */

.iconoUserReview{
  border-radius: 50%;
  width: 30%;
}

/* Iconos Reseña END */

.descripcion{
  background-color: white  !important;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  /* #F0F8FF */

}


.product-item.card.h-100.sombra{
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}


.mapaGoogleDoctor{
  padding-top: 3%;
  width: 100%;
  height: 220px;
  border-radius: 15px;
}

.textoAladoMapa{
  background-color: white;
  border-radius: 10px;
  padding-top: 5%;
  padding-bottom: 3%;
  padding-left: 5%;
  padding-right: 5%; 
  margin-left: 12px;
  margin-right: 12px ;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.50);
  margin-top: 15px;
  margin-bottom: 25px;
}

.textoCarrusel{
  font-size: 20px;
  font-weight: 900;
  text-shadow:  2px 2px rgb(0, 0, 0);
}


/* *Nuestros clientes Start */
.resenasBox{
  background-color: #000000;
  color: #ffffff;

  /* background-color: #000000;
  color: #ffffff; */

  
  width: 100%;
  
  
  border-radius: 10px;
   
  padding-top: 1%;
  padding-bottom: 1%; 
  
  box-shadow: 0 0 15px 2px rgba(4, 4, 4, 0.435);
}

/* Nuestros Clientes END */


/* *DISQUS START*/

.comentariosDisqus{
  background-color: #ffffff;
  border-top-left-radius:  15px;
  border-top-right-radius:  15px;

  box-shadow: 0 0 15px 1px rgba(4, 4, 4, 0.435);

  padding: 5%;
}

/* DISQUS END */

/* footer */
.footer{
  background-color: #000000!important;
}
/* footer */