/* body {
  background-image:url("/assets/imgs/backgrounds/conjunto-garabatos-primavera-blanco-negro-lindo-conjunto-elementos-pascua-imagenes-predisenadas-primavera_308665-455.jpg");
  background-position: center center;
  background-size: no-repeat;
  background-size:cover;
  background-color: rgba(255, 255, 255, 0.3);
  
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
} */

/* * BACKGROUND DEGRADADO */
body{
  background: #4568DC;
    background: -webkit-linear-gradient(to right,  #8fc1ec, #4968ce);
    background: linear-gradient(to right, #2c7fdf, #b0d0ff);

}
/* * BACKGROUND DEGRADADO */


/* *NAVBAR */

.carrito{
    padding-right: 5px;
    padding-top: 5px;
    width: 40px;
    padding-left: 10px;
  }
  .desplegable{
    background-color: #297bf5;
  }
  .desplegableTexto{
    font-weight: bold;
  }
  .desplegableTexto:hover{ 
    background-color: #47CDFC;
  }
  
  /* *NAVBAR END */


/* CARRUSEL */
.Carrusel{
box-shadow: 0px 10px 10px rgba(11, 24, 124, 0.5);
  border-radius: 10px;

  /* box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
  border-radius: 0;
  border: 0.5; */
}

.carousel-inner {
  border-radius: 10px;
  /* background-color: rgb(0, 123, 246); */
  overflow: hidden;
}
/* CARRUSEL */



/* * COLUMNA 1 Servicios START */


.servicios{
  
  background-color: white  !important;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  /* #F0F8FF */

 

}

.container.tipoServicio{
  padding-left: 25%;
  padding-right: 25%;
}

.serviciosLista{
    margin-bottom: 10%;
    background-color: #A9CCFD;
    border-radius: 10px;
    width:100%;
    text-align: center;
    
    
    
    font-weight:700   ;
}
/* *COLUMNA 1 Servicios  END */



/* *COLUMNA 2 Servicios  START */

.acheErre2{
  margin-left: 10% ;
  margin-right:10%  ;
} 

.horarioLaboral{
  margin-top: 10%;
  border-radius: 10px;

  background-color: #ffffff !important;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;

}

.horariosLista{
  background-color: #E7E7F3;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  
}
/* *COLUMNA 2 Servicios END */

.contactoCaja{
 background-color: #293ef84c;
 border-radius: 5px;
 
} 

.mapaDoctor {

  padding-right:1%;
  padding-top: 4%;
  padding-bottom: 5%;

  
}

.contactosExtra{
  
    margin-top: 5%;


    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width:100%;
    text-align: center;

    
    
}

.watafak{
  border-top: 10px solid black;
  border: solid 2px;
}


hr.hrInferior {
  border-top: 1px solid black;
  border: solid 2px; 
  margin-left: 5%;
  margin-right: 5%
  
}

/* Iconos Reseña START */

.iconoUserReview{
  border-radius: 50%;
  width: 30%;
}

/* Iconos Reseña END */

.descripcion{
  background-color: white  !important;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  /* #F0F8FF */

}


.product-item.card.h-100.sombra{
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}


.mapaGoogleDoctor{
  padding-top: 3%;
  width: 100%;
  height: 220px;
  border-radius: 15px;
}
