/* * BACKGROUND DEGRADADO */
body{
    background: #4568DC;
      background: -webkit-linear-gradient(to right,  #8fc1ec, #4968ce);
      background: linear-gradient(to right, #2c7fdf, #b0d0ff);
      padding-top: 40px; 
  }
  /* * BACKGROUND DEGRADADO */
  
  
  /* *NAVBAR */
  
  .carrito{
      padding-right: 5px;
      padding-top: 5px;
      width: 40px;
      padding-left: 10px;
    }
    .desplegable{
      background-color: #297bf5;
    }
    .desplegableTexto{
      font-weight: bold;
    }
    .desplegableTexto:hover{ 
      background-color: #47CDFC;
    }
    
    /* *NAVBAR END */
  